[Unit]
Description=AppDynamics Controller
After=multi-user.target

[Service]
User=centos
Type=oneshot
RemainAfterExit=yes
TimeoutSec=300
ExecStart=/usr/bin/appd-controller.sh  start
ExecStop=/usr/bin/appd-controller.sh   stop

[Install]
WantedBy=multi-user.target
